/* #region Base */
.hidden {
  display: none;
}
body {
  font-family: Montserrat, sans-serif;
  background-color: #fff;
  color: #111111;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}
/* #endregion */

/* #region Common */
.ingredients,
.made,
.products,
.bestsellers,
.reviews {
  padding: 60px 0;
}
.section-title {
  width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.section-title.accent {
  color: #fd9222;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.containers {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .containers {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .containers {
    max-width: 1200px;
    padding: 0 32px;
  }
}
/* #endregion */

/* #region Header */
.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  /* padding-top: 20px;
  padding-bottom: 14px; */
}
.header {
}
.nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  margin-left: auto;
}
.logo {
  display: flex;
  align-items: center;

  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  gap: 4px;
}
.mobil-menu {
  display: flex;
  align-items: center;
}
.menu-icon {
}
@media only screen and (min-width: 768px) {
  .mobil-menu {
    display: none;
  }
}
.content {
  display: none;
}
@media only screen and (min-width: 768px) {
  .content {
    display: flex;
    gap: 28px;
  }
}
@media only screen and (min-width: 1168px) {
  .content {
    gap: 90px;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media only screen and (min-width: 1168px) {
  .nav-list {
    gap: 24px;
  }
}
.nav-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}
.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}
.socials {
  display: flex;
  margin-left: 90px;

  gap: 14px;
}

.socials-item {
}
.socials-link {
}
.socials-icon {
}
/* #endregion */

/* #region Hero */
.hero {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .hero {
    padding-bottom: 40px;
  }
}
.hero-containers {
  width: 1136px;
  padding: 395px 20px 20px;
  border-radius: 30px;

  background: rgba(17, 17, 17, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/hero/hero-bg_mob@1x-min.jpg');
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  width: 484px;
  margin-bottom: 32px;
}
.hero-wrapper {
  display: flex;
  gap: 14px;
}
.btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 144px;
  min-height: 45px;
  border: 1px solid transparent;
  background: transparent;
}
.btn-accent {
  background: #fd9222;
}
.btn-primary {
  background-color: none;
  border-color: #fff;
}
.scroll-down {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
  gap: 14px;
}
.scroll-down-icon {
}
/* #endregion */

/* #region Benefits */
.benefits {
  background: #1e1823;
  padding: 50px 0;
}

.benefits-list {
  display: flex;
  gap: 88px;
  justify-content: center;
}
.benefits-item {
  width: 308px;
}
.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion */

/* #region Ingredients */
.ingredients {
  padding-top: 120px;
}
.ingredients-title {
}
.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.ingredients-item {
  border-radius: 15px;
  border: 1px solid #fd9222;
  width: calc((100% - 3 * 32px) / 4);
  /* width: 260px;
  height: 270px; */
  padding: 28px 23px;
}
.ingredients-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}
.ingredients-item:nth-child(4n + 3) {
  background: #1e1823;
  color: #fff;
  border-color: transparent;
}
.ingredients-img {
  margin-bottom: 36px;
}
.ingredients-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* #endregion */

/* #region Made */
.made {
}
.made-title {
}
.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-left-side {
  width: 600px;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
}
.made-ill {
}
.made-right-side {
  border-radius: 15px;
  background-color: #fff;
  width: 516px;
  padding: 32px;
}
.made-subtitle {
  width: 350px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
  /* display: flex;
  flex-direction: column;
  gap: 24px; */
}
.made-item {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.made-item:not(:last-child) {
  margin-bottom: 24px;
}
/* #endregion */

/* #region Products */
.products {
}
.products-title {
}
.products-list {
}
.products-item {
}
.products-ing {
}
.products-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-type {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.products-btn {
  font-weight: 600;
  font-size: 14px;
}
/* #endregion */

/* #region Bestsellers  */
.bestsellers {
}
.bestsellers-title {
}
.Bestsellers-list {
}
.Bestsellers-item {
}
.bestsellers-ill {
}
.bestsellers-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* #endregion */

/* #region Reviews  */
.reviews {
}
.reviews-title {
}
.reviews-list {
}
.reviews-item {
}
.reviews-avatar {
}
.reviews-author {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-desc {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-btn {
}
.btn-secondary {
  font-size: 18px;
  color: #111;
}
/* #endregion */

/* #region Footer */

.footer {
  color: #fff;
  background: #1e1823;
}
.footer-slogan-excerpt {
  color: #fd9222;
}
.footer-slogan {
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}
.footer-caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.footer-socials {
}
.footer-item {
}
.footer-contacts {
}
.footer-contacts-list {
}
.footer-contacts-item {
}
.footer-contacts-link {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.footer-nav {
}
.footer-nav-item {
}
.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

/* #endregion */
